.wrapperSlider{
    width: 100%;
    margin: 0 auto;
    padding: 20px 100px 0;
    position: relative;
}
.currentText p{
    font-size: 20px;
}
.slider-container{
    overflow: hidden;
}
.sliders-track{
    display: flex;
    transition: transform 0.8s;
}
.slider{
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    text-align: left;
    padding: 40px 15px;
    color: white;
    border-radius: 10px;
    background-blend-mode: overlay, color-burn;
}
.slider_header{
    margin-bottom: 20px;
}
.slider_header_title{
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 20px;
}
.slider_header_city{
    font-family: "Circe ExtraBold";
    font-size: 26px;
}
.slider_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slider_content p{
    margin-bottom: 5px;
}
.slider_content a{
    color: white;
    font-family: "Circe Bold";
    font-size: 14px;
}
.giveForm_text2{
    display: flex;
    margin: 35px 15px 0 15px;
    width: 150px;
    height: 40px;
    background-color: #ffcd00;
    border-radius: 20px;
    cursor: pointer;
    padding: 7px 10px 0;
    justify-content: center;
    align-items: center;
}
.giveForm_text2 a{
    text-decoration: none;
    color: #393838;
    font-size: 15px;
    transform: translateY(50px);
}
.slider-buttons{
    text-align: center;
    font-weight: bold;
}
.btn-prev, .btn-next{
    letter-spacing: 1px;
    padding: 0 3px;
}

.btnSlider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #ffcd00;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 35%;
    color: #393838;
    margin: 40px;
}
.btn-next:hover {
    box-shadow: 0 0 10px #ffcd00;
}
.btn-prev:hover {
    box-shadow: 0 0 10px #ffcd00;
}
.btnSlider:focus {
    outline: none;
}
.btnSlider:disabled {
    opacity: 0.5;
}
.btn-next {
    right: 0;
}
.btn-prev{
    transform: rotate(180deg);
    left: 0;
}
.section-circleFest {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.circleFest{
    width: 8px;
    height: 8px;
    background-color: #393838;
    border-radius: 8px;
    cursor: pointer;
    list-style: none;
    opacity: 0.9;
    transition: opacity 0.5s;
}
.circleFest:focus {
    outline: none;
}
.circleFest:hover {
    box-shadow: 0 0 10px #393838;
}
.circleFest + .circleFest {
    margin-left: 12px;
}
.circleFest.active {
    background-color: #ffcd00;
    width: 30px;
    height: 8px;
    border-radius: 8px;
}

@media(max-width:1300px){
    .slider_content div:first-child p a{
        font-size: 12px;
    }
    .giveForm_text2{
        width: 130px;
        height: 35px;
    }
    .giveForm_text2 a{
        font-size: 12px;
    }
}
@media(max-width:1200px){
    .btnSlider{
        margin: 40px 20px;
    }
    .slider_content div:first-child p a{
        font-size: 16px;
    }
}
@media(max-width:950px){
    .slider_header_title{
        font-size: 18px;
    }
    .slider_header_city{
        font-size: 24px;
    }
    .slider_header_date{
        font-size: 14px;
    }
    .slider_content div:first-child p a{
        font-size: 12px;
    }
    .slider_content div:first-child p{
        margin: 0;
    }
    .giveForm_text2{
        width: 110px;
        height: 30px;
        margin-right: 0;
    }
    .giveForm_text2 a{
        font-size: 10px;
    }
}
@media(max-width:800px){
    .slider_header_title{
        font-size: 16px;
    }
    .slider_header_city{
        font-size: 22px;
    }
    .slider_header_date{
        font-size: 12px;
    }
    .slider_content div:first-child p a{
        font-size: 10px;
    }
    .giveForm_text2{
        width: 100px;
        height: 30px;
    }
    .giveForm_text2 a{
        font-size: 9px;
    }
}
@media(max-width:720px){
    .btnSlider{
        margin: 40px 10px;
    }
    .slider_header_title{
        font-size: 18px;
    }
    .slider_header_city{
        font-size: 24px;
    }
    .slider_header_date{
        font-size: 14px;
    }
    .slider_content div:first-child p a{
        font-size: 16px;
    }
    .giveForm_text2{
        width: 130px;
        height: 35px;
    }
    .giveForm_text2 a{
        font-size: 12px;
    }
}
@media(max-width:600px){
    .btnSlider{
        width: 30px;
        height: 30px;
        font-size: 25px;
        top: 40%;
    }
    .slider_header_title{
        font-size: 18px;
    }
    .slider_header_city{
        font-size: 24px;
    }
    .slider_header_date{
        font-size: 14px;
    }
    .slider_content div:first-child p a{
        font-size: 14px;
    }
    .giveForm_text2{
        width: 110px;
        height: 30px;
    }
    .giveForm_text2 a{
        font-size: 10px;
    }
    .circleFest.active {
        width: 25px;
    }
}
@media(max-width:500px){
    .wrapperSlider{
        padding: 20px 50px 0;
    }
    .currentText p{
        font-size: 20px;
    }
    .slider{
        height: 200px;
        padding: 20px 10px;
    }
    .btnSlider{
        top: 35%;
    }
    .slider_header_title{
        font-size: 18px;
    }
    .slider_header_city{
        font-size: 24px;
    }
    .slider_header_date{
        font-size: 14px;
    }
    .slider_content div:first-child p a{
        font-size: 14px;
    }
    .giveForm_text2{
        width: 110px;
        height: 30px;
    }
    .giveForm_text2 a{
        font-size: 10px;
    }
    .giveForm_text2 p{
        margin-bottom: 8px;
        line-height: 0.6;
        text-align: center;
    }
}
@media(max-width:450px){
    .slider_header_title{
        font-size: 16px;
    }
    .slider_header_city{
        font-size: 22px;
    }
    .slider_header_date{
        font-size: 12px;
    }
    .slider_header{
        margin-bottom: 12px;
    }
    .slider_content div:first-child p a{
        font-size: 12px;
    }
    .slider_content div:first-child p{
        line-height: 1.2;
    }
    .giveForm_text2{
        width: 90px;
    }
    .giveForm_text2 p{
        line-height: 0.7;
    }
}
@media(max-width:400px){
    .slider{
        height: 180px;
    }
    .currentText p{
        font-size: 16px;
    }
    .giveForm_text2{
        width: 70px;
    }
    .circleFest{
        width: 6px;
        height: 6px;
        border-radius: 6px;
    }
    .circleFest:hover {
        box-shadow: 0 0 8px #393838;
    }
    .circleFest + .circleFest {
        margin-left: 10px;
    }
    .circleFest.active {
        width: 20px;
        height: 6px;
        border-radius: 6px;
    }
}
@media(max-width:350px){
    .wrapperSlider{
        padding: 15px 50px 0;
    }
    .giveForm_text2{
        width: 65px;
    }
    .slider_header_title{
        font-size: 14px;
    }
    .slider_header_city{
        font-size: 20px;
    }
    .slider_header_date{
        font-size: 10px;
    }
    .slider_header{
        margin-bottom: 10px;
    }
    .slider_content div:first-child p a{
        font-size: 10px;
    }

}
