.TwoSlidersFestivals{
    width: 100%;
    position: relative;
    background-image: url("./home-slider-background-misic_note.jpg");
    background-repeat: no-repeat;
    background-position: 0 -2% ;

}