.headerSection{
    width: 100%;
    height: 450px;
    position: relative;
    background-image: url("./home-header-background-only_top.jpg");
    background-repeat: no-repeat;
    background-color: #ffcd00;
}
.logo-phone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.logo-phone a{
    text-decoration: none
}
.logo, .logoElem{
    display: flex;
    flex-direction: row;
}
.logoElem p{
    color: #ffcd00;
    font-family: 'Circe ExtraBold';
    text-align: left;
    line-height: 1.2;
    font-size: 16px;
}
.logoElem img{
    margin-top: -5px;
    margin-right: 10px;
    height: 40px;
}
.fond{
    height: 35px;
    padding-left: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Circe Light';
    text-align: left;
    border-left: 1px solid white;
    line-height: 1;
    font-size: 12px;
}
.phone{
    font-family: 'Circe';
    text-align: left;
    line-height: 1;
    color: #393838;
}
.phone p{
    font-size: 12px;
    margin-top: 5px;
}

@media(max-width:950px){
    .headerSection {
        background-image: url("./home-header-background-only_top_2.jpg");
    }
    .logoElem p{
        font-size: 14px;
    }
    .logoElem img{
        height: 35px;
    }
    .fond{
        height: 30px;
        font-size: 10px;
    }
    .phone{
        font-size: 12px;
    }
    .phone p{
        font-size: 10px;
    }
}
@media(max-width:720px){
    .headerSection {
        height: 350px;
        background-size: cover;
    }
    .logoElem p{
        font-size: 12px;
    }
    .logoElem img{
        height: 30px;
    }
    .fond{
        height: 25px;
        font-size: 9px;
        font-family: "Circe Bold";
    }
    .phone{
        font-size: 10px;
    }
    .phone p{
        font-size: 8px;
    }

}
@media(max-width:600px){
    .headerSection {
        height: 300px;
    }

}
@media(max-width:500px) {
    .headerSection {
        background-image: url("./home-header-background-only_top_none.jpg");
    }
    .phone{
        color:white
    }
}
@media(max-width:400px) {
    .headerSection {
        height: 270px;
    }
    .logoElem p{
        font-size: 10px;
    }
    .logoElem img{
        height: 25px;
        margin-right: 5px;
    }
    .fond{
        height: 20px;
        font-size: 7px;
        padding-left: 5px;
        margin-left: 5px;
        line-height: 1.1;
    }
    .phone{
        font-size: 8px;
    }
    .phone p{
        font-size: 6px;
        margin-top: 3px;
        line-height: 1.2;
    }
}

