.contest{
    height: 100%;
    text-align: left;
    padding-top: 30px;
    list-style: none;
    color: #393838;
}
.city{
    font-family: "Times New Roman";
    font-style: italic;
    text-shadow: 0 7px 8px #393838;
    font-size: 30px;
    margin-bottom: 15px;
}
.slide h1{
    font-family: "Circe ExtraBold";
    line-height: 1;
    margin-bottom: 10px;
}
.date{
    font-size: 18px;
    margin-bottom: 40px;
}
.detailed{
    display: flex;
    width: 180px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.detailed p {
    font-size: 14px;
    position: relative;
}
.detailed:hover {
    box-shadow: 10px 10px 20px black;
}