.MainMenu{
    width: 70%;
    display: flex;
}
.MainMenuElem{
    display: flex;
    width: 30%;
    margin: 5px;
    background-blend-mode: overlay, color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Circe Bold";
    color: white;

}